.demo-layout-transparent {
    background: url('sanFrancisco.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
    background-color: black;
}

.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title.gas{
    color: #fff;
    height: 176px;
    background: url('gas.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-card-wide > .mdl-card__title.diesel{
    color: #fff;
    height: 176px;
    background: url('diesel.jpg') center / cover;
}

mdl-card mdl-shadow--2dp{
    background-color: black;
}
